.form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  input,
  textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #0070f3;
    color: rgb(47, 182, 86);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  span {
    color: red;
    font-size: 12px;
  }
}
